/* My styles Code */
body, h1, h2, h3, p, ul, li, button {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1 ;
}

.header-wrapper {
  background-image: url('asset/Hero-bg.png'); 
  background-size: cover;
  background-position: center;
  width: 100%;
}

/* Navbar  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px ;
  color: white; 
}

.navbar .logo {
  font-size: 36px;
  font-weight:800;
  color: #4b48ec;
}

.navbar .signup-btn {
  padding: 10px 20px;
  background-color: #4b48ec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar .signup-btn:hover {
  background-color: #e08f00;
}

/* Banner */
.banner {
  text-align: center;
  padding: 100px 20px;
  color: white; 
}

.banner h1 {
  font-size: 65px;
  color: black;
  margin-bottom: 20px;
}

.banner .focus-btn {
  padding: 15px 30px;
  background-color: #4b48ec;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.banner .focus-btn:hover {
  background-color: #e08f00;
}

